<h1>Buttons & Iconography</h1>

<h3>Primary Buttons</h3>
<button class="btn btn-success">Default</button>
<button class="btn btn-success btn-success-active">Active</button>
<button class="btn btn-success btn-success-hover">Hover</button>

<h3>Secondary Buttons</h3>
<button class="btn btn-default">Default</button>
<button class="btn btn-default btn-default-active">Active</button>
<button class="btn btn-default btn-default-hover">Hover</button>

<h2>Iconography</h2>
<p>We use Bootstrap's Glyphicons to
  fulfill our icon needs.</p>
<p>Here are samples of buttons with Glyphicons:</p>

<button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
<button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
<span class="admin">
  <a data-action="edit" class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" title="" href="#" data-original-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="remove" href="#" data-original-title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
</span>
