<h1>Colors</h1>

<div class="row">
  <div class="color-square color-dark-gold">
    <div class="color-inner-content">
      <p class="color-hex">#EDA820</p>
      <p class="color-name">dark-gold</p>
    </div>
  </div>
  <div class="color-square color-gold">
    <div class="color-inner-content">
      <p class="color-hex">#FDB81E</p>
      <p class="color-name">gold</p>
    </div>
  </div>
  <div class="color-square color-light-gold">
    <div class="color-inner-content">
      <p class="color-hex">#FFE2A9</p>
      <p class="color-name">light-gold</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="color-square color-dark">
    <div class="color-inner-content">
      <p class="color-hex">#1E2223</p>
      <p class="color-name">dark</p>
    </div>
  </div>

  <div class="color-square color-dark-gray">
    <div class="color-inner-content">
      <p class="color-hex">#252A2C</p>
      <p class="color-name">dark-gray</p>
    </div>
  </div>

  <div class="color-square color-dark-er-gray">
    <div class="color-inner-content">
      <p class="color-hex">#393E3F</p>
      <p class="color-name">dark-er-gray</p>
    </div>
  </div>

  <div class="color-square color-light-gray">
    <div class="color-inner-content">
      <p class="color-hex">#D5D5D6</p>
      <p class="color-name">light-gray</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="color-square color-red">
    <div class="color-inner-content">
      <p class="color-hex">#E31C3D</p>
      <p class="color-name">red</p>
    </div>
  </div>

  <div class="color-square color-green">
    <div class="color-inner-content">
      <p class="color-hex">#2E8540</p>
      <p class="color-name">green</p>
    </div>
  </div>
</div>
